@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #041014;
}

#Principal {
    background-attachment: fixed;
    position: absolute;
    background-color: #fbffee;
    width: 360px;
    height: 500px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 5px 10px 10px;
}

#FondoTitulo {
    position: relative;
    background-image: url(https://media.discordapp.net/attachments/997614456303525969/1079560046427512925/ElGuapo_Country_side_lake_in_modern_anime_style_sunny_day_8k_132d3e3b-650f-45a2-b621-7a35db14bae2.png?width=1218&height=609);
    background-position: center;
    background-size: 110%;
    width: 100%;
    height: 30%;
    border-radius: 4px 4px 0 0;
}

#FondoTitulo::before {
    content: ""; /* Agregar contenido al elemento ::before */
    position: absolute; /* Posicionar el elemento ::before encima del elemento #FondoTitulo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Color de fondo semitransparente */
}

#Titulo {
    position: absolute;
    left: 1%;
    top: 15%;
    opacity: 1;
    font-size: 30px;
    color: #f0f2e4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

#Portapapeles {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 15%;
    left: 85%;
    background-image: url(https://media.discordapp.net/attachments/997614456303525969/1079573021917974599/image1.png?width=609&height=609);
    background-position: center;
    background-size: 80%;
    background-color: transparent;
    
    border: none;
    
}

#Portapapeles:hover {
        background-size: 85%;
}

#TokenString {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: #FFFF;
    font-size: 100%;
    left: 3%;
    top: 10%;
    width: 82%;
    overflow: hidden;
    --text-overflow: ellipsis;
    white-space: nowrap;
}

#Instrucciones {
    position: absolute;
    background-color: #2d283e;
    border-radius: 5px 5px 5px 5px;
    
    top: 32%;
    height: 46%;

    width: 90%;
    left: 5%;
}

#textoI {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: #FFFF;
    font-size: 100%;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    text-align: center;
}

#Token {
    position: relative;
    background-color: #2d283e;
    top: 50%;
    height: 10%;
    width: 90%;
    left: 5%;
    border-radius: 5px 5px 5px 5px;
}

#Dudas {
     position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: #FFFF;
    font-size:80%;
    left: 5%;
    top: 65%;
    width: 90%;
    height: 90%;
    text-align: center;   
}

#FrameDiscord {
    position: absolute;
    top: 80%;
    left: 5%;
    background-color: #1a141f;
    height: 16%;
    width: 40%;
    border-radius: 5px 5px 5px 5px;
}

#Discord {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 90%;
    left: 2%;
    background-size: 100%;
    background-color: transparent;
    color: #FFFF;
    text-align: left;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
}
#ImageDc {
    position: absolute;
    background-position: center;
    background-color: transparent;
    object-fit: contain;
    height: 80%;
    width: 20%;
    left: 75%;
    top: 10%;
}

#FrameGrupo {
    position: absolute;
    top: 80%;
    left: 55%;
    background-color: #1a141f;
    height: 16%;
    width: 40%;
    border-radius: 5px 5px 5px 5px;
}

#Grupo {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 90%;
    left: 36%;
    background-size: 100%;
    background-color: transparent;
    color: #FFFF;
    text-align: left;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
}

#ImageGrupo{
    position: absolute;
    background-position: center;
    background-color: transparent;
    object-fit: contain;
    height: 80%;
    width: 20%;
    left: 5%;
    top: 10%;
}